openapi: 3.2.0
info:
  title: Shell Loyalty Offers API
  description: The Shell Loyalty API enables partners to integrate Shell Go+ loyalty program functionality including account management, points balance queries, points redemption, loyalty catalogue access, and loyalty transaction history.
  version: 1.0.2
  contact:
    name: Shell Developer Portal
    url: https://developer.shell.com/
    email: api-maintainers@shell.com
  license:
    name: Shell API Terms
    url: https://www.shell.com/terms-and-conditions
  x-date: '2026-05-02'
servers:
- url: https://api.shell.com/loyalty/v1
  description: Shell Loyalty API
security:
- OAuth2: []
tags:
- name: Offers
  description: Manage loyalty offers
paths:
  /accounts/{accountId}/offers:
    get:
      operationId: listOffers
      summary: List Account Offers
      description: Returns available offers for a loyalty account.
      tags:
      - Offers
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Available offers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferListResponse'
  /accounts/{accountId}/offers/{offerId}/assign:
    post:
      operationId: assignOffer
      summary: Assign Offer
      description: Assigns a specific offer to a loyalty account.
      tags:
      - Offers
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      - name: offerId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Offer assigned
          content:
            application/json:
              schema:
                type: object
components:
  schemas:
    Offer:
      type: object
      properties:
        offerId:
          type: string
        name:
          type: string
        description:
          type: string
        bonusPoints:
          type: integer
        validFrom:
          type: string
          format: date-time
        validTo:
          type: string
          format: date-time
        conditions:
          type: string
    OfferListResponse:
      type: object
      properties:
        offers:
          type: array
          items:
            $ref: '#/components/schemas/Offer'
        totalCount:
          type: integer
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.shell.com/oauth/token
          scopes:
            loyalty.accounts: Manage loyalty accounts
            loyalty.points: Access points data
            loyalty.catalogue: Browse rewards catalogue
