openapi: 3.2.0
info:
  title: Shell Loyalty Catalogue API
  description: The Shell Loyalty API enables partners to integrate Shell Go+ loyalty program functionality including account management, points balance queries, points redemption, loyalty catalogue access, and loyalty transaction history.
  version: 1.0.2
  contact:
    name: Shell Developer Portal
    url: https://developer.shell.com/
    email: api-maintainers@shell.com
  license:
    name: Shell API Terms
    url: https://www.shell.com/terms-and-conditions
  x-date: '2026-05-02'
servers:
- url: https://api.shell.com/loyalty/v1
  description: Shell Loyalty API
security:
- OAuth2: []
tags:
- name: Catalogue
  description: Browse loyalty rewards catalogue
paths:
  /catalogue:
    get:
      operationId: listCatalogue
      summary: List Loyalty Catalogue
      description: Returns the Shell loyalty rewards catalogue.
      tags:
      - Catalogue
      parameters:
      - name: category
        in: query
        description: Filter by reward category
        schema:
          type: string
      - name: countryCode
        in: query
        description: Filter by availability country
        schema:
          type: string
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Loyalty catalogue
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogueListResponse'
  /catalogue/{rewardId}:
    get:
      operationId: getCatalogueItem
      summary: Get Catalogue Item
      description: Returns details for a specific loyalty reward.
      tags:
      - Catalogue
      parameters:
      - name: rewardId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Reward details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogueItem'
components:
  schemas:
    CatalogueItem:
      type: object
      properties:
        rewardId:
          type: string
        name:
          type: string
        description:
          type: string
        category:
          type: string
        pointsRequired:
          type: integer
        imageUrl:
          type: string
        availableCountries:
          type: array
          items:
            type: string
        validFrom:
          type: string
          format: date
        validTo:
          type: string
          format: date
        stock:
          type: integer
    CatalogueListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/CatalogueItem'
        totalCount:
          type: integer
        currentPage:
          type: integer
        pageCount:
          type: integer
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.shell.com/oauth/token
          scopes:
            loyalty.accounts: Manage loyalty accounts
            loyalty.points: Access points data
            loyalty.catalogue: Browse rewards catalogue
