openapi: 3.2.0
info:
  title: Shell Lubricants Products API
  description: The Shell Lubricants API enables business customers and distributors to place and manage orders for Shell lubricants products, query the product catalogue, manage delivery schedules, and track orders.
  version: 1.0.0
  contact:
    name: Shell Developer Portal
    url: https://developer.shell.com/
    email: api-maintainers@shell.com
  license:
    name: Shell API Terms
    url: https://www.shell.com/terms-and-conditions
  x-date: '2026-05-02'
servers:
- url: https://api.shell.com/lubricants/v1
  description: Shell Lubricants API
security:
- OAuth2: []
tags:
- name: Products
  description: Browse lubricants product catalogue
paths:
  /products:
    get:
      operationId: listProducts
      summary: List Products
      description: Returns the Shell lubricants product catalogue.
      tags:
      - Products
      parameters:
      - name: category
        in: query
        description: Filter by product category (engine oil, gear oil, hydraulic, etc.)
        schema:
          type: string
      - name: application
        in: query
        description: Filter by application type
        schema:
          type: string
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Product catalogue
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductListResponse'
  /products/{productId}:
    get:
      operationId: getProduct
      summary: Get Product
      description: Returns details for a specific lubricants product.
      tags:
      - Products
      parameters:
      - name: productId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Product details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
components:
  schemas:
    ProductListResponse:
      type: object
      properties:
        products:
          type: array
          items:
            $ref: '#/components/schemas/Product'
        totalCount:
          type: integer
        currentPage:
          type: integer
        pageCount:
          type: integer
    Product:
      type: object
      properties:
        productId:
          type: string
        name:
          type: string
        brand:
          type: string
        category:
          type: string
        application:
          type: string
        viscosity:
          type: string
        description:
          type: string
        packagingOptions:
          type: array
          items:
            type: object
            properties:
              unit:
                type: string
              size:
                type: number
              price:
                type: number
        specifications:
          type: array
          items:
            type: string
        approvals:
          type: array
          items:
            type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.shell.com/oauth/token
          scopes:
            lubricants.orders: Manage lubricants orders
            lubricants.products: Access product catalogue
